<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
    <!--  row 1     -->
    <div class=row id="mars_news">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Latest Mars News</h2>
            </hr>
            <h3>{{final_results.nasa_mars_news.title}}</h3>
            <p>{{final_results.nasa_mars_news.paragraph}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Current Weather on Mars</h2>
            <hr>
            <p>{{final_results.mars_weather}}</p>
          </div>
        </div>
      </div>
      <!--  row 2     -->
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>Mars Featured Image</h2>
              <hr>
              <a href={{final_results.featured_image_url}}>
                <img class="center" src={{final_results.featured_image_url}} alt="Mars Featured Image" style="width: 80%">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>Mars Interesting Facts</h2>
              <hr>
              <table class="table table-striped" style="border-style:solid;border-color:rgb(88, 124, 88);border-width:2px;border-radius:2px">
                <thead>
                  <tr style="text-align: right;">
                    <th>Description</th>
                    <th>Fact</th>
                  </tr>
                </thead>
                <tbody>
                  {% for d in final_results.html_table %}
                  <tr>
                    <td>{{d["Title"]}}</td>
                    <td>{{d["Fact"]}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Mars Hemispheres</h2>
        </div>
      </div>
      <!--  row 3     -->
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <a href={{final_results.hemisphere_image_urls[0].image_url}} class="thumbnail">
                <img src={{final_results.hemisphere_image_urls[0].image_url}} alt="">
                <h4 class="text-center text-top">{{final_results.hemisphere_image_urls[0].title}}</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="{{final_results['hemisphere_image_urls'][1]['image_url']}}" class="thumbnail">
                <img src="{{final_results['hemisphere_image_urls'][1]['image_url']}}" alt="">
                <h4 class="text-center">{{final_results.hemisphere_image_urls[1].title}}</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  row 4     -->
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="{{final_results['hemisphere_image_urls'][2]['image_url']}}" class="thumbnail">
                <img src="{{final_results['hemisphere_image_urls'][2]['image_url']}}" alt="">
                <h4 class="text-center">{{final_results.hemisphere_image_urls[2].title}}</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="{{final_results['hemisphere_image_urls'][3]['image_url']}}" class="thumbnail">
                <img src="{{final_results['hemisphere_image_urls'][3]['image_url']}}" alt="">
                <h4 class="text-center">{{final_results.hemisphere_image_urls[3].title}}</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>